.background {
  width: 100%;
  height: 100%;
  position: absolute;
}

.main {
  height: 100%;
}

.main-title {
  margin: 0 auto;
  text-align: center;
  margin-top: 200px;
  color: #26CC95;
}

/*
 * Menu Styling
 */
.menu {
  height: 100%;  /* Make the nav full screen*/
  width: 100%;
  position: fixed;
  overflow: hidden;  /* Overflow keeps the expanding circle in */
  pointer-events: none;  /* Ignore the menu until it opens */
}

.nav-faux-menu {
  position: fixed;
  overflow: hidden;
  display: block;
  margin-left: 25px;
  margin-top: 25px;
  width: 55px;
  height: 55px;
  border-radius: 55px;
  background: linear-gradient(to bottom right, #28BFC0, #24D96A);
  z-index: 2;
}

/* 
 * Menu Button Styling 
 */
input[type=checkbox] {
  display: none;
  pointer-events: all;
}

/* Uses :checked to detect when clicked and changes sibling elements*/
input[type=checkbox]:checked ~ .nav-button {
  background-image: url(../images/close-menu.svg);
}
/* Expand the content submenu*/
input[type=checkbox]:checked ~ .nav-faux-menu {
  background: white;
  max-width: calc(100% - 35px);
  overflow: hidden;
  z-index: 7;
  animation-name: context-menu-expansion;
  animation-timing-function: cubic-bezier(.73,.56,.23,.99) 1.2s;
  animation-duration: .75s;
  animation-fill-mode: forwards;
}
/*The Content Menu Expansion*/
@keyframes context-menu-expansion {
  from {
    width: 55px;
  }
  to {
    width: 375px;
  }
}
/* Change the nav background to fill the entire screen*/
input[type=checkbox]:checked ~ .nav-background {
  background: linear-gradient(to bottom right, rgba(40, 191, 192, .8), rgba(36, 217, 106, 1));
  pointer-events: all;
  animation-name: background-expansion;
  animation-timing-function: cubic-bezier(.62,.28,.23,.99) .8s;
  animation-duration: .8s;
  animation-fill-mode: forwards;
}
/*The Circle Expansion*/
@keyframes background-expansion {
  0% {
    box-sizing: border-box;
    margin: 0;
  }
  100% {
    margin-top: calc(25px - 190%);
    left: calc(25px - 190%);
    padding: 190%;
  }
}
@media (min-height: 650px) {
  /*The Circle Expansion*/
  @keyframes background-expansion {
    0% {
      box-sizing: border-box;
      margin: 0;
    }
    100% {
      margin-top: calc(25px - 225%);
      left: calc(25px - 225%);
      padding: 225%;
    }
  }
}
@media (min-width: 650px) {
  /*The Circle Expansion*/
  @keyframes background-expansion {
    0% {
      box-sizing: border-box;
      margin: 0;
    }
    100% {
      margin-top: calc(25px - 115%);
      left: calc(25px - 115%);
      padding: 115%;
    }
  }
}

.nav-button {
  position: absolute;
  margin-left: 33.5px;
  margin-top: 33.5px;
  height: 37.5px;
  width: 37.5px;
  border-radius: 100%;
  z-index: 10;
  background-image: url(../images/menu.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: all;
}

/* The background of the nav */
.nav-background {
  padding: 27.5px;
  width: 0px;
  height: 0px;
  top: 25px;
  left: 25px;
  overflow: hidden;
  position: fixed;
  text-align: center;
  border-radius: 100%;
  background: linear-gradient(to bottom right, #28BFC0, #24D96A);
  z-index: 6;
}

.nav-context {
  position: absolute;
  max-width: 90%;
  pointer-events: all;
  font-weight: 400;
  text-decoration: none;
  line-height: 55px;
  padding-left: 60px;
  padding-right: 20px;
  font-size: 2rem;
}





#context-expanding-circle {
  width: 365px;
}

.nav-context-link {
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}
