.background {
  width: 100%;
  height: 100%;
  position: absolute;
}



.main-title {
  margin: 0 auto;
  text-align: left;
  margin-top: 150px;
  color: #26CC95;
}
@media (max-width: 550px) {
  .main-title {
    margin-top: 100px;
  }
}

/*
 * Menu Styling
 */
.menu {
  z-index: 10;
  height: 100%;  /* Make the nav full screen*/
  width: 100%;
  position: fixed;
  overflow: hidden;  /* Overflow keeps the expanding circle in */
  pointer-events: none;  /* Ignore the menu until it opens */
}

.nav-faux-menu {
  position: fixed;
  overflow: hidden;
  display: block;
  margin-left: 25px;
  margin-top: 25px;
  max-width: 90%;
  width: 55px;
  height: 55px;
  border-radius: 55px;
  background: linear-gradient(to bottom right, #28BFC0, #24D96A);
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}
@media (max-width: 550px) {
  .nav-faux-menu {
    margin-left: 15px;
  }
}

/* 
 * Menu Button Styling 
 */
input[type=checkbox] {
  display: none;
  pointer-events: all;
}

/* Uses :checked to detect when clicked and changes sibling elements*/
input[type=checkbox]:checked ~ .nav-button {
  background-image: url(../images/close-menu.svg);
}
input[type=checkbox]:checked ~ .nav-content {
  pointer-events: all;
  display: block;
  animation-name: show-menu-content;
  animation-timing-function: cubic-bezier(.73,.56,.23,.99) 1s;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  overflow: visible;
}
/* Show the menu */
@keyframes show-menu-content {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Expand the content submenu*/
input[type=checkbox]:checked ~ .nav-faux-menu {
  max-width: calc(100% - 35px);
  overflow: hidden;
  pointer-events: all;
  z-index: 7;
  animation-name: context-menu-expansion;
  animation-timing-function: cubic-bezier(.73,.56,.23,.99) 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
/*The Content Menu Expansion*/
@keyframes context-menu-expansion {
  from {
    opacity: 1;
    background: linear-gradient(to bottom right, #28BFC0, #24D96A);
    width: 55px;
  }
  30% {
    opacity: 0;
    background: white;
    width: 55px;
  }
  to {
    opacity: 1;
    background: white;
    width: 375px;
  }
}
/* Change the nav background to fill the entire screen*/
input[type=checkbox]:checked ~ .nav-background {
  pointer-events: all;
  padding: 0;
  background: linear-gradient(to bottom right, rgba(40, 191, 192, .9), rgba(36, 217, 106, 1));
  animation-name: background-expansion;
  animation-timing-function: cubic-bezier(.62,.28,.23,.99) 1.0s;
  animation-duration: 1.0s;
  animation-fill-mode: forwards;
}
/* Use the height if portrait to fill entire screen (since its larger than the width) */
@media (orientation:portrait) {
  @keyframes background-expansion {
    0% {
      box-sizing: border-box;
      margin: 0;
    }
    100% {
      left: -27.5vh;
      margin-top: -16.5vh;
      height: 133vh;
      width: 133vh;
    }
  }
}
/* Use the width if landscape to fill entire screen (since its larger than the height) */
@media (orientation:landscape) {
  @keyframes background-expansion {
    0% {
      box-sizing: border-box;
      margin: 0;
    }
    100% {
      left: -16.5vw;
      margin-top: -27.5vw;
      height: 133vw;
      width: 133vw;
    }
  }
}

.nav-button {
  box-sizing: border-box;
  position: absolute;
  margin-left: 25px;
  margin-top: 25px;
  padding: 17.5px;
  height: 55px;
  width: 55px;
  border-radius: 100%;
  z-index: 10;
  background-image: url(../images/menu.svg);
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: all;
}
@media (max-width: 550px) {
  .nav-button {
    margin-left: 15px;
  }
}
.nav-button:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,.08);
}

/* The background of the nav */
.nav-background {
  padding: 27.5px;
  width: 0px;
  height: 0px;
  top: 25px;
  left: 25px;
  overflow: hidden;
  position: fixed;
  text-align: center;
  border-radius: 100%;
  background: linear-gradient(to bottom right, #28BFC0, #24D96A);
  z-index: 6;
}
@media (max-width: 550px) {
  .nav-background {
    left: 15px;
  }
}

/* The context part of the menu which shows the directory */
.nav-context {
  position: absolute;
  height: 55px;
  pointer-events: all;
  font-weight: 400;
  text-decoration: none;
  line-height: 55px;
  padding-left: 60px;
  padding-right: 10px;
  box-sizing: border-box;
  font-size: 2.0rem;
}
@media (max-width: 550px) {
  .nav-context {
    font-size: 1.75rem;
  }
}
.nav-context-link {
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

/*The actual menu content*/
.nav-content {
  color: white;
  position: absolute;
  z-index: 15;
  display: none;
  margin: 125px 0px 25px 25px;
}
@media (max-width: 550px) {
  .nav-content {
    margin-left: 10px;
  }
}

.menu-list-item {
  padding-left: 17.5px;
  padding-bottom: 0px;
}

.menu-list {
  list-style: none;
}

.menu-list-title {
  height: 40px;
  display: inline;
}

.menu-list-icon {
  height: 40px;
  width: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  display: inline-block;
  vertical-align: bottom;
  padding-right: 10px;
}

.menu-list-item-link {
  display: block;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.menu-list-item-link:hover {
  color: white;
}
.link:hover {
  opacity: .8;
}

.home-icon {
  background-image: url(../images/home.svg);
}

.link {
  cursor: pointer;
  text-decoration: underline;
}

.self-link {
  cursor: default;
  text-decoration: none;
}

.down-icon {
  background-image: url(../images/downArrow.svg);
  background-size: 55%;
  background-position: 0% 75%;
}

.menu-sub-list-item {
  margin: 0;
  padding-bottom: 10px;
  padding-left: 20px;
}

.sub-link {
  padding-bottom: 5px;
  font-weight: 400;
  font-size: 90%;
}

.github-icon {
  background-image: url(../images/github-circle.svg);
}

.menu-sub-list-title {
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 2.2rem;
}

.main {
  z-index: 0;
  margin: 0 auto;
  margin-top: 15px;
  text-align: left;
  margin-bottom: 50px;
}
@media (max-width: 550px) {

}

.code {
  text-align: left;
}

#intro {
  display: block;
  margin-bottom: 50px;
}
